In [ ]:
!pip install sqlalchemy mysql-connector-python pandas tabulate

In [ ]:
import pandas as pd
import os
import mysql.connector
from sqlalchemy import create_engine
from tabulate import tabulate

In [ ]:
file_path = "Global_Cybersecurity_Threats_2015-2024.csv"
if os.path.exists(file_path):
    df = pd.read_csv(file_path).drop_duplicates().dropna()
    df["Country"] = df["Country"].str.title().str.strip()
    df["Attack Type"] = df["Attack Type"].str.title().str.strip()
    df["Target Industry"] = df["Target Industry"].str.title().str.strip()
    df["Attack Source"] = df["Attack Source"].str.title().str.strip()
    df["Security Vulnerability Type"] = df["Security Vulnerability Type"].str.title().str.strip()
    df["Defense Mechanism Used"] = df["Defense Mechanism Used"].str.title().str.strip()
    df.rename(columns={
        "Financial Loss (in Million $)": "Financial_Loss",
        "Number of Affected Users": "Affected_Users",
        "Incident Resolution Time (in Hours)": "Resolution_Time_Hours"
    }, inplace=True)
    print("Data cleaned and ready.")
else:
    print("File not found.")

In [ ]:
def create_connection():
    try:
        conn = mysql.connector.connect(
            host='localhost', user='root', password='siri@123', database='CyberSecurity_DB'
        )
        print("MySQL connector connected.")
        return conn
    except Exception as e:
        print("MySQL connection error:", e)
        return None

def create_sqlalchemy_connection():
    try:
        engine = create_engine("mysql+mysqlconnector://root:siri%40123@localhost/CyberSecurity_DB")
        print("SQLAlchemy engine connected.")
        return engine
    except Exception as e:
        print("SQLAlchemy engine error:", e)
        return None

conn = create_connection()
engine_conn = create_sqlalchemy_connection()

In [ ]:
def create_tables(conn):
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS countries (
            country_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100) UNIQUE NOT NULL
        );
    """)
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS attack_types (
            attack_type_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100) UNIQUE NOT NULL
        );
    """)
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS industries (
            industry_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100) UNIQUE NOT NULL
        );
    """)
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS cyber_threats (
            attack_id INT AUTO_INCREMENT PRIMARY KEY,
            country_id INT,
            attack_type_id INT,
            industry_id INT,
            year INT,
            financial_loss DECIMAL(15, 2),
            affected_users INT,
            resolution_time_hours INT,
            description TEXT,
            FOREIGN KEY (country_id) REFERENCES countries(country_id),
            FOREIGN KEY (attack_type_id) REFERENCES attack_types(attack_type_id),
            FOREIGN KEY (industry_id) REFERENCES industries(industry_id)
        );
    """)
    conn.commit()
    print("Tables created.")
create_tables(conn)

In [ ]:
def insert_lookup_values(conn, table, values):
    cursor = conn.cursor()
    for val in values:
        cursor.execute(f"INSERT IGNORE INTO {table} (name) VALUES (%s)", (val,))
    conn.commit()

def populate_lookups(df, conn):
    insert_lookup_values(conn, 'countries', df['Country'].unique())
    insert_lookup_values(conn, 'attack_types', df['Attack Type'].unique())
    insert_lookup_values(conn, 'industries', df['Target Industry'].unique())
    print("Lookup values inserted.")

populate_lookups(df, conn)

In [ ]:
def get_lookup_id(conn, table, name):
    cursor = conn.cursor()
    id_column_map = {
        'countries': 'country_id',
        'attack_types': 'attack_type_id',
        'industries': 'industry_id'
    }
    column = id_column_map[table]
    cursor.execute(f"SELECT {column} FROM {table} WHERE name = %s", (name,))
    result = cursor.fetchone()
    return result[0] if result else None
def insert_main_data(df, conn):
    cursor = conn.cursor()
    for _, row in df.iterrows():
        country_id = get_lookup_id(conn, 'countries', row['Country'])
        attack_type_id = get_lookup_id(conn, 'attack_types', row['Attack Type'])
        industry_id = get_lookup_id(conn, 'industries', row['Target Industry'])

        cursor.execute("""
            INSERT INTO cyber_threats (
                country_id, attack_type_id, industry_id,
                year, financial_loss, affected_users, resolution_time_hours, description
            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            country_id, attack_type_id, industry_id,
            int(row['Year']), float(row['Financial_Loss']), int(row['Affected_Users']),
            int(row['Resolution_Time_Hours']), ""
        ))
    conn.commit()
    print("Main data inserted.")
insert_main_data(df,conn)

In [ ]:
def run_query(conn, query, title):
    df = pd.read_sql(query, conn)
    print(f"\n {title}")
    print(tabulate(df, headers="keys", tablefmt="fancy_grid"))

queries = {
    "Top Countries Affected": """
        SELECT c.name AS Country, COUNT(*) AS Total_Attacks
        FROM cyber_threats ct
        JOIN countries c ON ct.country_id = c.country_id
        GROUP BY c.name ORDER BY Total_Attacks DESC LIMIT 10;
    """,
    "Frequent Threat Types": """
        SELECT at.name AS Attack_Type, COUNT(*) AS Frequency
        FROM cyber_threats ct
        JOIN attack_types at ON ct.attack_type_id = at.attack_type_id
        GROUP BY at.name ORDER BY Frequency DESC;
    """,
    "Year-over-Year Trends": """
        SELECT year, COUNT(*) AS Incident_Count
        FROM cyber_threats
        GROUP BY year ORDER BY year;
    """,
    "Financial Impact by Country": """
        SELECT c.name AS Country, COUNT(*) AS Incidents,
               SUM(financial_loss) AS Total_Loss,
               AVG(financial_loss) AS Avg_Loss_Per_Attack
        FROM cyber_threats ct
        JOIN countries c ON ct.country_id = c.country_id
        GROUP BY c.name ORDER BY Total_Loss DESC LIMIT 10;
    """,
    "Attack Type vs Industry": """
        SELECT at.name AS Attack_Type, i.name AS Industry, COUNT(*) AS Incidents
        FROM cyber_threats ct
        JOIN attack_types at ON ct.attack_type_id = at.attack_type_id
        JOIN industries i ON ct.industry_id = i.industry_id
        GROUP BY at.name, i.name ORDER BY Incidents DESC LIMIT 10;
    """
}

def run_all_queries(conn):
    for title, query in queries.items():
        run_query(conn, query, title)

run_all_queries(engine_conn)

In [ ]:
def run_query(conn, query, title):
    df = pd.read_sql(query, conn)
    print(f"\n {title}")
    print(tabulate(df, headers="keys", tablefmt="fancy_grid"))

queries = {
    "Top Countries Affected by cyber attacks": """
        SELECT c.name AS Country, COUNT(*) AS Total_Attacks
        FROM cyber_threats ct
        JOIN countries c ON ct.country_id = c.country_id
        GROUP BY c.name ORDER BY Total_Attacks DESC LIMIT 10;
    """,

    "Frequence of different Types of Threats": """
        SELECT at.name AS Attack_Type, COUNT(*) AS Frequency
        FROM cyber_threats ct
        JOIN attack_types at ON ct.attack_type_id = at.attack_type_id
        GROUP BY at.name ORDER BY Frequency DESC;
    """,

    "Year-over-year trends in global cybersecurity incidents": """
        SELECT year, COUNT(*) AS Incident_Count
        FROM cyber_threats
        GROUP BY year ORDER BY year;
    """,

    "Severity levels and their impact by region": """
        SELECT c.name AS Country,
               SUM(ct.financial_loss) AS Total_Loss_Millions,
               AVG(ct.financial_loss) AS Avg_Loss_Per_Incident
        FROM cyber_threats ct
        JOIN countries c ON ct.country_id = c.country_id
        GROUP BY c.name
        ORDER BY Total_Loss_Millions DESC LIMIT 10;
    """,

    "Correlation between Attack Type vs Industry": """
        SELECT at.name AS Attack_Type, i.name AS Industry, COUNT(*) AS Incidents
        FROM cyber_threats ct
        JOIN attack_types at ON ct.attack_type_id = at.attack_type_id
        JOIN industries i ON ct.industry_id = i.industry_id
        GROUP BY at.name, i.name ORDER BY Incidents DESC LIMIT 10;
    """,

    "Summary Statistics (via SQL)": """
        SELECT 
            MIN(financial_loss) AS Min_Loss,
            MAX(financial_loss) AS Max_Loss,
            AVG(financial_loss) AS Avg_Loss,
            MIN(affected_users) AS Min_Affected,
            MAX(affected_users) AS Max_Affected,
            AVG(affected_users) AS Avg_Affected,
            MIN(resolution_time_hours) AS Min_Resolution,
            MAX(resolution_time_hours) AS Max_Resolution,
            AVG(resolution_time_hours) AS Avg_Resolution
        FROM cyber_threats;
    """,

    "Industries Most Targeted": """
        SELECT i.name AS Industry, COUNT(*) AS Total_Incidents
        FROM cyber_threats ct
        JOIN industries i ON ct.industry_id = i.industry_id
        GROUP BY i.name ORDER BY Total_Incidents DESC LIMIT 10;
    """,

    "Yearly Average Financial Loss": """
        SELECT year, AVG(financial_loss) AS Avg_Loss
        FROM cyber_threats
        GROUP BY year ORDER BY year;
    """

}

def run_all_queries(conn):
    for title, query in queries.items():
        run_query(conn, query, title)

run_all_queries(engine_conn)

In [ ]:
query = """
SELECT financial_loss, affected_users, resolution_time_hours
FROM cyber_threats;
"""
df_stats = pd.read_sql(query, engine_conn)
print("\nSummary Statistics:")
print(tabulate(df_stats.describe(), headers='keys', tablefmt='fancy_grid'))

In [ ]:
conn.close()
engine_conn.dispose()
print("Connections closed.")